@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700italic,700,400italic);

html, body
{
    height: 100%;
    min-height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #63b3e8;
}
.searchbox{
	width: 100px;
	height: 50px;
	margin-left: 15%;
	margin-right: 28%;
	margin-top: 100px;
}
.search{
	padding:20px 170px;
	outline: none;
	border: none;
	background-color: #157cc1;
	border-radius: 100px;
	color: #fff;
	font-family: nunito;
	/*border: 10px solid;*/
	position: relative;
	box-shadow: 0 10px 40px #004777, 0 0 0 10px #ffffffeb;

}
input{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
}
.icon{
	position: relative;
	color: #000;
	text-shadow: 10px;
	text-indent: 10px;
	top: -65px;
	left: 620%;
	font-size: 40px;

}
.searchbox input[type="text"]::placeholder
{
    color: rgb(0,0,0,0.3);
    font-size: 40px;
    text-align: center;
    top: 10px;
    

}
.icon:hover{
	color: rgb(0, 233, 255, 0.5);
	text-shadow: 10px #fff;

}
.searchbox input:hover{
	background-color: #08578c;
	transition: 
}
.drops{
	padding: 0px;
	width: 100%;
	margin-top: 200px;
	border: 1px solid;
	height: 150px;
	float: left;

}
.datedrop{
	border: 1px solid;
	height: 100%;
	width: 20%;
	float: left;
}
.category{
	border: 1px solid;
	height: 100%;
	width: 20%;
	float: left;
	margin-left: 5%;
}
.category .dropdown{
	margin-left: 1%;
	margin-right: auto;
	overflow: hidden;
}

.acts{
	border: 1px solid;
	height: 100%;
	width: 20%;
	float: left;
	margin-left: 5%;
}

.judge{
	border: 1px solid;
	height: 100%;
	width: 25%;
	float: left;
	margin-left: 5%;
}




